.pageContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: var(--blue-accent-3);
  overflow: hidden;
}
.leftSection {
  width: 50%;
  height: 100%;
  position: relative;
}
.leftSectionContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 160px;
}
.logo:hover {
  cursor: pointer;
}
.authCardContainer {
  border-radius: 12px;
  margin-top: 24px;
  min-width: 350px;
}
.authControlContainer {
  display: flex;
  justify-content: center;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  gap: 36px;
  background: rgba(155, 255, 0, 0.3);
  border-radius: 4px;
  margin-bottom: 36px;
}
.authControl {
  padding: 12px 16px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}
.authControl:hover {
  cursor: pointer;
}
.active {
  font-weight: 700;
  color: #0e5ffe;
  background-color: white;
  margin: 8px 16px;
  padding: 12px 18px;
  border-radius: 4px;
}

.rightSection {
  background-color: white;
  width: 50%;
  height: 100%;
}
.authImageContainer {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.authImage {
  width: 100%;
  height: 100%;
}
